# Análisis de componentes principales

En este notebook utilizaremos el análisis de componentes principales con el fin de resumir el comportamiento de 5 índices accionarios en un sólo índice. Este nuevo índice corresponderá al primer componente principal de nuestra matriz de datos

In [4]:
#lee los datos
import pandas as pd
import numpy as np

archivos_csv = ('dow30.csv', 'naftrac.csv', 'nasdaq.csv', 'russell2000.csv', 'sp500.csv')
ruta = 'datos/'

#crea el nombre de las columnas a partir del nombre de cada csv
nombres_columnas = [s.split('.')[0] for s in archivos_csv]

#Se lee el primer archivo csv
#Solo columas Date y Adj Close
columnas = ['Date', 'Adj Close']
datos = pd.read_csv(ruta + archivos_csv[0], usecols = columnas)

#Renombra columna 'Adj Close' (in place)
datos.rename(columns = {'Adj Close': nombres_columnas[0]}, inplace = True)

#Une los datos
for i in range(1, len(archivos_csv)):
    #lee el siguiente archivo csv
    d2 = pd.read_csv(ruta + archivos_csv[i], usecols = columnas)
    
    #Hace un merge utilizando la columna 'Date' como llave
    datos = pd.merge(datos, d2, how = 'inner', on = 'Date', suffixes= ['_' + nombres_columnas[i-1], '_' + nombres_columnas[i]])
    
    #renombra columna 'Adj Close'
    datos.rename(columns = {'Adj Close': nombres_columnas[i]}, inplace = True)

#libera memoria
del d2

#Vista a los primeros 10 renglones
datos.head(10)

         Date         dow30    naftrac       nasdaq  russell2000        sp500
0  2014-08-07  16368.269531  41.218311  4334.970215  1119.760010  1909.569946
1  2014-08-08  16553.929688  41.171616  4370.899902  1131.349976  1931.589966
2  2014-08-11  16569.980469  41.732018  4401.330078  1141.930054  1936.920044
3  2014-08-12  16560.539063  41.769382  4389.250000  1133.030029  1933.750000
4  2014-08-13  16651.800781  41.769382  4434.129883  1141.780029  1946.719971
5  2014-08-14  16713.580078  41.816078  4453.000000  1143.339966  1955.180054
6  2014-08-15  16662.910156  41.666649  4464.930176  1141.650024  1955.060059
7  2014-08-18  16838.740234  41.881470  4508.310059  1158.400024  1971.739990
8  2014-08-19  16919.589844  42.002880  4527.509766  1162.469971  1981.599976
9  2014-08-20  16979.130859  42.236385  4526.479980  1157.510010  1986.510010